* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
header {
    position: sticky; 
    background-color: #fff; 
    top: 0;
}
nav {
    max-width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
      /* box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5); */
}


.hero {
    max-width: 90%;
    display: flex;
    justify-content: center;
}
.hero .left {
    flex: 1;
}
.hero .hero-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.hero .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green-btn {
    background-color:#149F39;
    color: white;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3rem;
    align-self: flex-start;
}

.hero h1 {
    font-size: 3rem;
    margin: 2rem 0;
}

.hero p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.hero .orange-btn {
    background-color: #FFC066;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.features {
    max-width: 70%;
    margin: 2rem auto;
    display: flex;
}

.flex-feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    margin: 0 1rem;
    padding: 5px;
    flex: 1;
}

.flex-feature:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.divider {
    border-bottom: 2px solid grey;
    margin: 2rem 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
    align-items: center;
}

.menu .green-btn {
    align-self: center;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.menu h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.menu .img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
}
.menu .img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.menu .images {
    display: grid;
    align-items: center;
    grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
    gap: 1rem;
}

.grid-item1 {
    grid-area: I1 ;
}
.grid-item2 {
    grid-area: I2 ;
}
.grid-item3 {
    grid-area: I3 ;
}
.grid-item4 {
    grid-area: I4 ;
}
.grid-item5 {
    grid-area: I5 ;
}
.grid-item6 {
    grid-area: I6 ;
}
.grid-item7 {
    grid-area: I7 ;
}

.f-footer {
    background-color: #FFF0DB;
    color:#565656;
    margin-top: 4rem;
}
.footer {
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.footer h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer li {
    list-style: none;
    line-height: 1.5rem;
}

.footer .social-links img{
    width: 20px;
    height: 20px;
    margin: 0.1rem;
}

@media (max-width:768px) {
.hero {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.features {
    max-width: 100%;
    margin: 1rem;
}
.menu .images {
    padding: 1rem;
}

.footer {
    max-width: 100%;
    gap: 1rem;
}

}

@media (max-width:480px) {
    .hero .left {
        max-width: 100%;
        margin: 0 auto;
    }
    .hero .left img {
        height: 25rem;
        width: 25rem;
    }
    .hero .right {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
    }
    .features {
        flex-direction: column;
        align-items: flex-start;
    }
    .flex-feature {
        max-width: 100%;
        margin-left: 0;
    }
    .footer {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer .logo , .col-1 , .col-2 , .col-3 {
        max-width: 100%;
        text-align: center;
    }
}